*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
}

.lefts a{
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.lefts #frst{
    margin-top: -100px;
}

.lefts{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 50%;
    justify-content: center;
}