*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}
.main{
  /* background-color: rgba(128, 128, 128, 0.274); */
  height: 100%;
  width: 100%;
}
.head{
 display: flex; 
 justify-content: center;
 align-items: flex-end;
 margin-top: 50px;
}
.head h1{
 text-align: center;
font-size: 60px;
}
.head span{
  color: red;
}
.circle{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.555);
}

.form-control{
width: 80%;
text-align: center;
}
.mb-3{
  margin-left: 80px;
}
.loginform{
margin-top: 200px;
/* display: none; */
}
#submitlogin{
  margin-left: 80px;
  width: 65%;
  background-color: red;
}
input{
outline: none;  
border: none;
}

.login{
  height: 600px;
  width: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 99;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: relative; */
  display: none;
  background-color: rgb(196, 196, 196);
  border-radius: 20px;
}
.login i{
  height: 50px;
  width: 50px;
  font-size: 40px;
  position: absolute;
  top:2%;
  right: 0;
  cursor: pointer;
  transform: rotate(45deg);
}
.imagelogo{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login h1{
  text-align: center;
  margin-top: 100px;
  color: black;
}

.imagelogo img{
  height: 100%;
  width: 100%;
}

.images{
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  flex-wrap: nowrap;
}

.image2{
  height: 70%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: -450px;
  flex-wrap: nowrap;
}


.box{
  height: 300px;
  width: 200px;
  border-radius: 10px;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box2{
  margin-top: 50px;
  height: 300px;
  width: 200px;
  border-radius: 10px;
}
.box2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.register{
    height: 600px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    /* position: relative; */
    display: none;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
  }

  .register i{
    margin-top: -20px;
  }
  .register h1{
    margin-top: 50px;
    text-align: center;
  }
  .register p{
    text-align: center;
  }
  .register #aboutreg{
    font-size: 10px;
    margin-top: 10px;
  }
  .register #haveacc{
    text-align: center;
    margin-left: 35%;
  }
  .ri-add-line{
    font-size: 30px;
  }
/* login */
#crossreg{
transform: rotate(45deg);
margin-left: 350px;

}


.pin_container{
    width: 100vw;
    /* margin: 0; */
    margin-top: -400px;
    padding: 0;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
}

.pin_container .card{
    margin: 15px 10px;
    background-color: red;
    border-radius: 16px;
    padding: 0;
}
.card_small{
    grid-row-end: span 26;
}

.card_medium{
    grid-row-end: span 33;
}

.card_large{
    grid-row-end: span 45;
}
